body {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/385/469/190/glass-joe-amp-the-juice-neo-reflection-wallpaper-preview.jpg);
  font-family: "Ubuntu", sans-serif;
}

.main-box {
  display: flex;
}

.box1 {
  width: 50%;
}

.box2 {
  width: 50%;
}

.group {
  width: 75%;
  font-weight: bold;
  font-style: oblique;
  padding-bottom: 10px;
  background-color: whitesmoke;
}

.heading-name {
  font-weight: bold;
}

.list-group-item:hover {
  background-color: tomato;
}

.list-group-flush {
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sandwich {
  text-decoration: underline;
}

.sandwich-box {
  background-color: whitesmoke;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 20px;
  padding: 10px;
  width: 30%;
}
